# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/
*.tgz

# Dependency directories
jspm_packages/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
tmp/
temp/

# Miscellaneous
*.swp
*.bak
*.tmp
